<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>main.java.module.PE</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>peCreateNewProductionPage1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>peCreateNewProductionPage2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>peNavigateToCreateNewProductionPage2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>peLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>peHomePageValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>peProductionBidPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>peBidSelectionPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>openURL</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
