<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AutomationSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="699093">  <td>19/07/18 10:51:21</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:main.java.module.PE@6a212390]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main.java.module.BaseTest.main()@1921561684</td>   <td></td> </tr>
<tr bgcolor="699093">  <td>19/07/18 10:56:42</td>   <td>320717</td> <td title="&lt;&lt;BaseTest.clearCachedData()[pri:0, instance:main.java.module.PE@6a212390]">&lt;&lt;clearCachedData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main.java.module.BaseTest.main()@1921561684</td>   <td></td> </tr>
<tr bgcolor="699093">  <td>19/07/18 10:51:21</td>   <td>10</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.getTestName(org.testng.ITestContext)[pri:0, instance:main.java.module.PE@6a212390]">&gt;&gt;getTestName</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main.java.module.BaseTest.main()@1921561684</td>   <td></td> </tr>
<tr bgcolor="a3b9e9">  <td>19/07/18 10:51:21</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PE.openURL(java.lang.String)[pri:0, instance:main.java.module.PE@6a212390]">openURL</td> 
  <td>main.java.module.BaseTest.main()@1921561684</td>   <td></td> </tr>
<tr bgcolor="a3b9e9">  <td>19/07/18 10:54:21</td>   <td>179681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PE.peHomePageValidation(java.lang.String)[pri:0, instance:main.java.module.PE@6a212390]">peHomePageValidation</td> 
  <td>main.java.module.BaseTest.main()@1921561684</td>   <td></td> </tr>
<tr bgcolor="a3b9e9">  <td>19/07/18 10:53:39</td>   <td>137550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PE.peLogin(java.lang.String)[pri:0, instance:main.java.module.PE@6a212390]">peLogin</td> 
  <td>main.java.module.BaseTest.main()@1921561684</td>   <td></td> </tr>
<tr bgcolor="699093">  <td>19/07/18 10:56:42</td>   <td>320859</td> <td title="&lt;&lt;BaseTest.quitBrowser()[pri:0, instance:main.java.module.PE@6a212390]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main.java.module.BaseTest.main()@1921561684</td>   <td></td> </tr>
<tr bgcolor="699093">  <td>19/07/18 10:56:42</td>   <td>320650</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.writeSummary()[pri:0, instance:main.java.module.PE@6a212390]">&lt;&lt;writeSummary</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main.java.module.BaseTest.main()@1921561684</td>   <td></td> </tr>
</table>
